body{
  height: 100vh;
}

#formulaField, #displayField {
  background-color: lightgrey;
  text-align: right;
}

#keypad {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);

  #equals {
    grid-row: 4/6;
    grid-column: 4;
  }
}